{% extends 'base.html' %}

{% block title %}
Simulador Banco · Integrantes
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Información:</h1>

            <!-- ============ ESPACIO DE NOMBRE 1: Equipo / Desarrolladores ============ -->
            <section id="equipo" class="mb-5">
                <h2>Integrantes (grupo 678-301):</h2>
                <p>
                    David Santiago Díaz Forero
                    <br>Cód. 20261678049<br>
                    
                    <br>Ianjaner Alfonso Beltrán
                    <br>Cód. 20261678024 <br>

                    <br>Camilo Andrés Guasca
                    <br>Cód. 20261678053

                </p>
            </section>
        </div>
    </div>
</div>
{% endblock %}